header{
    width: 100%;
    height: 63px;
    padding: 5px ;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}
.pt-2-header-index{
    position: relative;
}
.logo-header{
    width: 55px;
    height: 100%;
}
.logo-header{
    width: 55px;
    height: 100%;
    margin-right: 30px;
}
.pt-1-header-index span{
    line-height: 55px;
    margin-right: 50px;
}
.input-search-file{
    width: 97%;
    height: 40px;
    border-radius: 5px;
    border:none ;
    margin: 6px 0;
    background-color: #e9e9e9;
    padding: 10px 42px;
    box-sizing: border-box;
    outline: none;
}
.search-icon{
    position: absolute;
    top: -37px;
    left: -43px;
    transform: scale(0.2);
}
.pt-3-header-index{
    width: 35%;
    position: relative;
}
.view-profile{
    padding: 0px 17px;
    border-radius: 50%;
    transform: scale(0.8);
    cursor: pointer;
    background: rebeccapurple;
    color: white;
    font-size: 20px;
    line-height: 50px;
}
.icon-bg-profile{
    padding: 21px 38px;
    border-radius: 50%;
    transform: scale(0.8);
    cursor: pointer;
    background: rebeccapurple;
    color: white;
    font-size: 45px;
    line-height: 50px;
}
.view-item-menu img{
    transform: scale(.12);
    cursor: pointer;
}
.view-item-menu{
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    width: 41px!important;
    height: 41px!important;
}
.ic-1{
    top: 7px;
    left: 60px;
}
.ic-2{
    top: 7px;
    left: 160px;
}
.ic-3{
    top: 7px;
    left: 210px;
}
.ic-2 img{
    transform: scale(0.2)!important;
}
.ic-3 img{
    transform: scale(0.2)!important;
}
.view-item-menu:hover{
    background-color: #ececec;
}
.not-auth{
    background-color: #6b6b6b !important;
}
ul{
    margin: 0;
    padding: 0;
}
.view-menu-to-profile li{
    list-style: none!important;
    text-align: right;
    cursor: pointer;
    padding: 15px 5px;
    position: relative;
}
.view-menu-to-profile li *{
    position: absolute;
    z-index: 10;
}
.view-menu-to-profile li span{
    right: 50px;
}
.view-menu-to-profile li:after{
    content: '';
    width: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.2s;
    background-color: #f8f8f8;
}
.view-menu-to-profile li:hover:after{
    width: 100%;
    opacity: 1;
}
.group-view-opt{
    width: 100%;
    height: 90.5vh;
}
.view-menu-right{
    width: 20%;
}
.view-file{
    width: 75%;
}
.item-file{
    width: 5%;
}
.btn-new-file img{
    width: 25px;
    position: relative;
    top: 4px;
}
.btn-new-file span{
    margin: 0 10px;
    position: relative;
    bottom: 3px;
}
li{
    list-style: none!important;
}
.menu-ul li{
    text-align: right;
    cursor: pointer;
    padding: 10px 0;
    overflow: hidden;
    right: 20px;
    position: relative;
}
.menu-ul li:after{
    content: '';
    width: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;
    background-color: #f8f8f8;
}
.menu-ul li:hover:after{
    width: 10%;
    opacity: 1;
}
.btn-new-file-btn{
    padding: 10px 20px;
    float: right;
    cursor: pointer;
    margin: 10px 5px;
    background-color: white;
    border: 1px solid #f1f1f1;
    border-radius: 1000px;
}
.view-menu-to-profile li i{
    position: relative;
    top: 3px;
    right: 3px;
}
.menu-profile , .menu-profile-new , .item-item-file{
    width: 350px;
    padding: 10px;
    display: none;
    box-sizing: border-box;
    height: auto;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    top: 63px;
    left: 10px;
    z-index: 12;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.menu-profile-new{
    right: 10px!important;
    left: unset!important;
}
.item-item-file{
    top: 0!important;
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
}
.view-icon-and-name{
    width: 100%;
    height: auto;
}
.view-icon-and-name img{
    height: 60px;
    width: 60px;
    margin: auto;
}
.item-item-file img{
    transform: scale(0.7);
}
.group-view-file{
    width: 100%!important;
}
.all-item{
    height: 82%!important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.group-icon-view img{
    width: 21px;
    bottom: 30px;
    position: relative;
    right: 24px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.group-icon-view img:hover{
    padding: 5px;
    background-color: #f6f6f6;
}
::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-thumb{
    background-color: #dbdbdb;
    border-radius: 100px;
}
.item-file-drive{
    width: 23%;
    position: relative;
    float: right;
    margin: 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    height: 100px;
    background-color: white;
}
.view-name-file{
    width: 100%;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: 0.5s;
    backdrop-filter: blur(3px);
}
.item-file-drive:hover .view-name-file{
    bottom: 0;
}
.item-file-drive i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
    font-size: 14px;
}
.item-file-drive img{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.blur{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100vh;
    width: 100%;
    z-index: 20;
    backdrop-filter: blur(8px);
}
.btn-new-file-send{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    background: white;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
.page-new{
    width: 100%;
    max-width: 350px;
    padding: 10px;
    display: none;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #b5b5b5;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 22;
    transform: translate(-50%,-50%);
}
.view-suc{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #1fbd1f;
    color: white;
    padding: 30px 60px;
    border-radius: 10px;
    z-index: 10;
}
.view-suc i{
    position: absolute;
    color: white;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 14px;
}
@media all and (max-width: 830px){
    .item-file-drive{
        width: 100%!important;
        margin: 5px 0;
    }
}
@media all and (max-width: 1300px){
    .item-file-drive{
        width: 22%;
        margin: 5px 10px;
    }
    .pt-3-header-index{
        display: none;
    }
    .pt-2-header-index{
        float: left!important;
    }
    .pt-1-header-index span{
        display: none;
    }
    .item-file{
        display: none;
    }
    .view-file{
        width: 80%;
    }
}
.custom-file-input {
    display: inline-block;
    position: relative;
    color: #533e00;
}
.custom-file-input input {
    visibility: hidden;
    width: 100px;
}
.custom-file-input:before {
    content: 'Choose File';
    display: block;
    background: -webkit-linear-gradient( -180deg, #ffdc73, #febf01);
    background: -o-linear-gradient( -180deg, #ffdc73, #febf01);
    background: -moz-linear-gradient( -180deg, #ffdc73, #febf01);
    background: linear-gradient( -180deg, #ffdc73, #febf01);
    border: 3px solid #dca602;
    border-radius: 10px;
    padding: 5px 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px rgba(255,255,255,0.7);
    font-weight: bold;
    text-align: center;
    font-size: 10pt;
    position: absolute;
    left: 0;
    right: 0;
}
.custom-file-input:hover:before {
    border-color: #febf01;
}
.custom-file-input:active:before {
    background: #febf01;
}
.file-blue:before {
    content: 'Browse File';
    background: -webkit-linear-gradient( -180deg, #99dff5, #02b0e6);
    background: -o-linear-gradient( -180deg, #99dff5, #02b0e6);
    background: -moz-linear-gradient( -180deg, #99dff5, #02b0e6);
    background: linear-gradient( -180deg, #99dff5, #02b0e6);
    border-color: #57cff4;
    color: #FFF;
    text-shadow: 1px 1px rgba(000,000,000,0.5);
}
.file-blue:hover:before {
    border-color: #02b0e6;
}
.file-blue:active:before {
    background: #02b0e6;
}
